#footer {
    background-color: #0097a7 !important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;

    p {
        font-weight: 400 !important;
    }

    .coffee {
        color: #8d6e63 !important;
    }

    .heart {
        color: #d50000 !important;
    }
}
