.advance-search {
    position: relative;
    // border: 1px solid #ccc;
    border-radius: 15px;
    background-image: url("../../../assets/images/sd-search-bg.webp");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 15px;
    }

    .title {
        position: relative;
        color: #fff;
        z-index: 11;
    }
   
    .advance-search-form {
        position: relative;
        color: #fff;
        z-index: 11;

        .genre-selection {
            display: flex;
            justify-content: center !important;
            align-items: center !important;

            h3 {
                min-width: fit-content !important;
                margin-right: 1rem;
                font-size: 1.3em;
            }
        }

        .search-btn {
            background-color: #f8f9fa !important;
            border-color: #f8f9fa !important;
            color: #111 !important;
            font-weight: 600 !important;
        }
    }
}
